.error {
    color: red;
}
* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}


tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}